.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;

}

.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal-window>div {
  width: 1400px;
  height: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: rgb(41, 38, 38);
}

.modal-window>div>div {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.35rem;

}

.modal-window header {
  font-weight: bold;
}

.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}

.modal-close {
  color: #ffffff;
  line-height: 50px;
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}

.modal-close:hover {
  color: rgb(190, 30, 30);
  /* peso da fotnte */
  font-weight: bold;
}

.modal-window>div {
  border-radius: 1rem;
}

.modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
}

@keyframes bandeira-animacao {
  0% { opacity: 0; transform: translateY(30px); }
  100% { opacity: 1; transform: translateY(0); }
}

.bandeira {
  width: 120px;
  height: 80px;
  animation-name: bandeira-animacao;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
}